@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* #region Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
menu {
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(221, 221, 221);
}

input {
    font-weight: bold;
    padding: 5px;
}

/* #endregion Regole Reset */

/* #region Utilities */
.done {
    color: grey;
    text-decoration: line-through;
}

/* #endregion Utilities */

/* #region Container */
.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* #endregion Container */

/* #region Todo List */
.new-todo__wrapper {
    padding: 12px 1rem;
}

.todolist {
    padding: 12px 0 24px;
}

.todo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
}

.todo i {
    margin-left: auto;
}

/* #endregion Todo List */